html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET ENDED: */

body {
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	letter-spacing: 0.05em;
	background-color: #4B595F;
	font-size: 1.4em;
}

ul{
	padding: 10px 30px 0 30px;
	min-height: 400px;
	list-style-type: none;
	text-transform: uppercase;
	line-height:130%;
	box-shadow: 4px 4px 0px #000;

}

li {
	background-color: #Fff;
	border-bottom: 1px solid #BFD4DD;
	padding-bottom: 0;
	color: #4B595F;
}

li.done {
	color: #A6BBC5;
	text-decoration: line-through;

}
li:hover {
	background-color: #FDFEFF;

}

li.done:hover {
	background: url("del.png") no-repeat center;
    background-position: right 20px; 
    background-size: 15px 15px;
}

li: {
	background-color: #F10;
}
li span {	
	height: 42px;
	display: table-cell; 
    vertical-align: bottom; 
    padding: 0 0 3px 5px;
 }

#logo {
	position: relative;
	min-width:200px;
	margin: 40px auto;
	text-align: center;
	
}
.container {	
	position: relative; 
	max-width: 660px;
	margin: 0 auto;
	padding: 0; 
	background-color: #FFFFFF;
	box-shadow: 4px 4px 0px #000;
}

#input  {
	max-width: 600px;
	padding: 30px 30px 0 30px;
	text-align: center;
	
}

#input > input {
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 1em;
	color: #BFD4DD;
	background-color: #A6BBC5;
	outline: none;
	border: 0;
	/* padding on right messes up ending, compensating this with 99%
	find a better approach. */
	width: 99%;
	height: 45px;
	padding: 0 0 0 5px;
	/*background: url("add.png") no-repeat center;
    background-position:right center;
    background-size:15px 15px;*/
}

#add {	
	position: absolute;
	right: 45px;
	top: 45px;

}

.col {
	float: left;
	width: 50%; 
	background-color: #fff;
}

@media (max-width: 568px) {
/*  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) { */

	.col {
		float: left;
		width: 100%; 
	}
	ul {
		min-height: 0;
		padding: 0 30px 0 30px;
	}
	.col.one {
		padding-top: 10px;
	}
	.col.two {
		padding-bottom: 30px;
	}
}


